  
    <div class="col-xl-12 col-md-12 mb-100 dmp-app" style=" margin:bottom:50px !important;">
      <div class="card   h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center" style="color:black;font-weight:bold;margin-left: 131px;">
              Vision System Control
          </div>
          <div style="color:skyblue">
            <hr class="sidebar-divider" />
              <div class="row col-xl-12">
            <div class="col-xl-5">
              <img src={{url}} height="150px" width="150px"/>
            </div>
            <div class="col-xl-7" style="margin-top: 30px;"> 
            <button type="button" class="btn btn-primary btn-block">Manual</button>
            <button type="button" class="btn btn-primary btn-block">Automatic</button>
            </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  
  