.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control, .input-group>.form-control-plaintext,
.select {
    height: 33px !important;
}

.cursor-pointer{
    cursor: pointer;
}


.vl {
    border-left: 6px solid green;
    height: 500px;
    margin-left: 17px;
    top: 0;
  
  }
  
 
